name: CI

on:
  push:
    branches: [ "master" ]
  pull_request:
    branches: [ "master" ]

jobs:
  build-test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        dotnet-version: [ '7.0.x' ]
    name: Build & test ${{ matrix.dotnet-version }}

    steps:
    - uses: actions/checkout@v3
    - name: Setup .NET SDK ${{ matrix.dotnet-version }}
      uses: actions/setup-dotnet@v3
      with:
        dotnet-version: ${{ matrix.dotnet-version }}

    - name: App Settings Variable Substitution
      uses: microsoft/variable-substitution@v1
      with:
        files: '/home/runner/work/bottled-api/bottled-api/src/Bottled.Api/appsettings.Staging.json'
      env:
        ConnectionStrings.MySqlConnectionString: ${{ secrets.MYSQL_CONNECTION_STRING_STAGING7 }}

    - name: See file
      run: cat /home/runner/work/bottled-api/bottled-api/src/Bottled.Api/appsettings.Staging.json
    
    - name: Install dependencies
      run: dotnet restore

    - name: Build
      run: dotnet build --configuration Debug --no-restore

    - name: Run tests
      run: ASPNETCORE_ENVIRONMENT=Staging && dotnet test --no-restore --verbosity normal